.Main {
    min-height: 100vh;
    background-color: #14181C;
    color: white;
    text-align: center;
}

.main-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.left-and-right{
    min-height: 400px;
    max-width: 95%;
}

.left{
    width: 100%;
}

.left-content{
    min-height: 100%;
    /* background-color: green; */
    width: 100%;
}

.searchbar{
    position: relative;
    display: inline-block;
    height: min-content;
    overflow: visible;
}

.search-dropdown{
    position: absolute;
    border: 1px white solid;
    background-color: #556677;
    color: white;
    top: 36px;
    overflow: visible;
    width: 100%;
}


.dropdown-item{
    color: white;
}

.vertical-sorter{
    z-index: 0;
}

.right{
    width: 600px;
}

.right-content{
    min-height: 100%;
}